.body {
  height: 100vh;
  background-color: rgb(188, 233, 233);
  font-family: sans-serif;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-app {
  width: 700px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(67, 14, 214, 0.1);
  background-color: #fff;
  border-radius: 5px;
}
.question {
  text-align: center;
}
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.p {
  font-weight: 500;
}
h2 {
  margin: 10px 0;
  font-weight: 500;
  color: #3498db;
}
button {
  padding: 15px 20px;
  color: black;
  background-color: aliceblue;
  font-size: 16px;
  border-radius: 9px;
  transition: background-color 0.3s;
  width: full;
}
button:hover {
  background-color: rgb(215, 232, 247);
}
.timer {
  margin-top: 20px;
  font-size: 18px;
  color: #555;
}
.timer .span {
  font-weight: 800;
}
.spanLow {
  color: red;
  font-weight: 800;
}

.score {
  text-align: center;
}
.score .h2 {
  font-weight: 500;
  margin-bottom: 15px;
}
.restart {
  background-color: tomato;
  color: white;
}
